{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <title>لونیکا |  {% block title %}مرجع دانلود  رایگان کتاب های تصویری{% endblock title %}</title>
    {% block meta %}{% endblock meta %}
    <link rel="stylesheet" href={% static 'style/deafult.css' %}>
    <script src={% static 'script.js' %}></script>
    <link rel="icon" href={% static '/img/lunika.svg' %} type="image/svg" >
    <meta name="author" content="amirparsa7131@gmail.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="keywords" content="Lunika,مانهوا,مانگا,مانها" >
    <meta name="description" content="لونیکا مرجع دانلود انواع کتاب تصویری زا جمله مانگا ، مانهوا ، مانها، کمیک بوک و غیره با ترجمه ی فارسی و به صورت کاملا رایگان" />
</head>
    <body dir="ltr">  
<div id="search_page" >
    <input class="search" type="search" placeholder="در دنیای کمیک های مصور جتسجو کنید "></input>
</div>
<header >
    <ul id="menu">
        <img title="Lunika Studio" src={% static '/img/lunika.svg' %} alt="Lunika" style="width: 2.5vw;float: right;margin-top: 0.7vw;margin-right:2vw">
        <hr style="float: right;height:2vw;margin-left: 10vw;margin-right: 2.5vw;margin-top:0.1vw;">
        <nav>
            <li onclick="" class="menu-option"><a  class="menu-option-content-title" href="{% url 'home' %}" >صفحه اصلی </a> </li>
            {% for menu in menus %}
                <li onclick="" class="menu-option">
                    <ul  onmouseleave="menu_options(1,0)" class="menu-of-option" id="manga_menu">
                    {% for mo in menus_options %}
                        {% if mo.menu.pk == menu.pk %}
                            <a href="{% url menu.family %}{{ menu.address }}/?tag={{ mo.title }}"><li>{{mo.title}}</li></a>
                        {% endif %}
                    {% endfor %}
                    </ul>
                    <a class="menu-option-content-title" href="{% url menu.family %}{{ menu.address }}" ><div class="angle-left "></div> {{menu.name_show   }}  </a>
                </li>
            {% endfor %}
            <li onclick="" class="menu-option"><a  class="menu-option-content-title" href={% url "weblog_main" %} >وبلاگ</a>  </li>
            <li onclick="" class="menu-option"><a class="menu-option-content-title" href={% url "about_us" %}>همکاری با ما</a></li>
        </nav>
        <div class="search-bar"><i id="search-icon" onclick="search(1)"></i></i></div>
        {% if user.is_authenticated %}
        <li class="auth"><a href={% url "logout" %}>خروج</a></li>
            <a href='{% url "profile" %}'><i class="profile-icon" style="margin: 0px;"></i></a>
        {% else  %}
            <li class="auth" ><a href={% url "login" %}>ورود</a></li>
            <li class="auth"><a href={% url "register" %}>ثبت نام</a></li>
        {% endif %}
    </ul>
</header>
{% block content %}{% endblock content %}
<footer class="site-footer">
    <div class="footer-grid">
      <!-- بخش درباره ما -->
      <div class="footer-section">
        <h4 class="footer-heading">درباره ما</h4>
        <div class="divider-right"></div>
        <p class="footer-text">
          تیم لونیکا با هدف ارائه بهترین تجربه مطالعه فعالیت می‌کند.
        </p>
      </div>
  
      <!-- بخش لینک‌ها -->
      <div class="footer-section">
        <h4 class="footer-heading">دسترسی سریع</h4>
        <div class="divider-right"></div>
        <ul class="footer-nav">
          <li>
            <a href={% url "categury" cat='manga' %} class="footer-link">
                <img src="{% static 'img/footer/dott.svg' %}" class="nav-icon" alt="">
              <span>مانگا</span>
            </a>
          </li>
          <li>
            <a href={% url "categury" cat='manhwa' %} class="footer-link">
                <img src="{% static 'img/footer/dott.svg' %}" class="nav-icon" alt="">
              <span>مانهوا</span>
            </a>
          </li>
          <li>
            <a href={% url "categury" cat='manha' %} class="footer-link">
              <img src="{% static 'img/footer/dott.svg' %}" class="nav-icon" alt="">
              <span>مانها</span>
            </a>
          </li>
        </ul>
      </div>
  
      <!-- بخش تماس -->
      <div class="footer-section">
        <h4 class="footer-heading">ارتباط با ما</h4>
        <div class="divider-right"></div>
        <div class="contact-items">
          <div class="contact-item">
            <img src="{% static 'img/footer/phone.svg' %}" class="contact-icon" alt="">
            <span>۴۴ ۴۲ ۸۲ ۲۴</span>
          </div>
          <div class="contact-item">
            <img src="{% static 'img/footer/email.svg' %}" class="contact-icon" alt="">
            <span>amirparsa7131@gmail.com</span>
          </div>
        </div>
        <div class="social-media">
          <a href="https://www.instagram.com/lunika.manga/" target="_blank"><img src="{% static 'img/sm-logo/instagram.svg' %}" alt="اینستاگرام"></a>
          <a href="https://t.me/mangaup" target="_blank"><img src="{% static 'img/sm-logo/telegram.svg' %}" href="" alt="تلگرام"></a>
          <a href="#" target="_blank"><img src="{% static 'img/sm-logo/facebook.svg' %}" alt="فیسبوک"></a>
        </div>
      </div>
    </div>
  
    <div class="copyright">
      <p>© <span class="year">۱۴۰۲</span> لونیکا. تمام حقوق محفوظ است.</p>
    </div>
  </footer>
</body>