.page_banner_anime { 
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height:40vw;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 1vw 0.1vw black;
}
.anime_title_banner{
    display: flex;
    position: relative;
    color: #161616;
    text-shadow:0.2vw 0 #bbbbbb, -0.2vw 0 #e0e0e0, 0 0.2vw #adadad, 0 -0.2vw #b3b3b3,
    1px 1px #fff, -0.1vw -0.1vw #fff, 0.1vw -0.1vw #fff, -0.1vw 0.1vw #fff;
    font-size: 7vw;
    margin: 0px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.weblog_content_box{
    display: inline-block;
    padding: 1vw;
    text-align: right;
    width: 92vw;
    margin: 5vw 3.2vw;
    margin-bottom: 0vw;
    border: 0.2vw solid rgb(19, 19, 19,0.2);
    background-color: rgba(43, 43, 43,0.5);
}