.user-box{
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    height: 40vw;
    background-color:#6e6e6e06;
    border: 0.2vw solid rgb(41, 41, 41);
    border-radius: 0.5vw;
    margin-top: 3vw;
}
.user-field{
    background: linear-gradient(to left ,#ffa50006,#301f0006);
    padding-right: 2vw;
    padding-top: 2vw;
    margin-bottom: 1vw;
    text-align: right;
    width: 37vw;
    border-right: 0.15vw solid #ac7000;
}

.user-field h6 {
    color: rgb(228, 228, 228);
    margin: 0px;
    margin-top: 0.5vw;
    font-size: 1vw;
}
.user-field h5{
    color: rgb(206, 206, 206);
    font-size: 1.25vw;
}
.user-field h4{
    color: white;
    font-size: 2vw;
}
button{
    cursor: pointer;
    width: 14.5vw;
    font-size: 1vw;
    padding: 0.2vw;
    border: none;
    background-color: rgb(41, 41, 41);
    border: 0.1vw solid rgb(41, 41, 41);
    margin-bottom: 1vw;
    transition: 0.2s;
}
button:hover{
    color: white;
    outline: none;
    background-color: rgba(73, 73, 73, 0.1);
    border: 0.1vw solid rgb(41, 41, 41);
}
button a {
    color: white;
}