{% extends "deafult.html" %}
{% load static %}
{% block meta %}
    <link rel="stylesheet" href={% static 'style/animepage.css' %}>
    <script src={% static '/script.js' %}></script>
{% endblock meta %}
{% block title %}
    {{ anime.title }}
{% endblock title %}
{% block content %}
    <div  class="page_banner_anime" style="background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0),rgba(0, 0, 0, 0.8)),url('/../media/{{ anime.banner }}');">
        <h1 id="t" class="anime_title_banner">{{ anime.title }}</h1>
    </div>
    <div style="width:96vw;display:inline-block;margin-right:2vw;">
        <div class="b-img"><img src="/../media/{{ anime.title_img }}" style="  width:100%;user-select: none;display:inline-block;height: 100%;border-radius: 0.5vw;"></div>
        <div class="about-anime">
            <p style="user-select: none;font-size: 1vw;text-align: end;color: rgb(114, 114, 114); margin-right: 0.1vw;margin-left: 0.1vw;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;display:">خلاصه : {{ anime.description}}</p>
        </div>
        <div class="download">
            <div class="season-title-list">
            {% for season in seasons %}
                <div class="season-title" id="season-title-{{ season.number }}" onclick="show_season({{ season.number }})">{{ season.number }}</div>
            {% endfor %}
            </div>
            <div class="lang-box">
                <div id="myBtnContainer">
                        <button class="btn" onclick="filterSelection('en');return false;var lang = 'en';"> انگلیسی</button>
                        <button class="btn" onclick="filterSelection('fa');return false;var lang = 'fa';"> فارسی</button>
                    <label for="lang-list" class="slang">زبان</label>
                </div>
            </div>
            <div class="season-list">
            {% for season in seasons %}
                <div class="season" id="{{ season.number }}">
                    <div class="container">
                        <div class="episodes">
                            {% for episode in episodes %}
                            {% if episode.season.number == season.number %}
                                {% for media in medias %}
                                    {% if episode.media.pk == media.pk %}
                                    <a  class="filterDiv fa" href="{% url 'home'%}anime/{{ anime.title }}/{{ season.number }}/{{ episode.number }}/fa"> 
                                        <span>فارسی </span> | قسمت {{ episode.number }}
                                    </a>
                                    <a  class="filterDiv en" href="{% url 'home'%}anime/{{ anime.title }}/{{ season.number }}/{{ episode.number }}/fa"> 
                                        <span>انگلیسی </span>| قسمت {{ episode.number }}
                                    </a>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
            <div class="posts-box">
                <h4>Related Posts</h4>
                <div class="posts">
                    {% for post in posts %}
                        <a class="post" href={% url "weblog_page" anime_name=anime.title title=post.title %}>
                            <img class="post-image" src="/../media/{{ post.title_img }}">
                            <h4>{{ post.title }} </h4>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}