{% extends "deafult.html" %}
{% load static %}
{% block meta %}
    <link rel="stylesheet" href={% static 'style/animepage.css' %}>
    <script src={% static '/script.js' %}></script>
{% endblock meta %}
{% block title %}
    {{ anime.title }}
{% endblock title %}
{% block content %}

<div class="page_banner_anime" style="background-image : linear-gradient(to bottom, #121212, transparent),url('/../media/{{ anime.banner }}');" id="main">   
    <div class="anime_title_banner-box"><h1 class="anime_title_banner">{{ anime.title }}</h1></div>
    <div class="b-img" style="background-image: url('/../media/{{ anime.title_img }}')">
    </div>
</div>
    <div class="main_anime_box" id="summery">
        <div class="dark-vertical-menu">
            <nav>
              <ul>
                <li><a href="#buy-book"><img class="menu-icon" src={% static "/img/a-page/buy.svg" %}></img></a></li>
                <li><a href="#download"><img class="menu-icon" src={% static "/img/a-page/download.svg" %}></img></a></li>
                <li><a href="#posts"><img class="menu-icon" src={% static "/img/a-page/weblog.svg" %}></img></a></li>
                <li><a href="#main"><img class="menu-icon" src={% static "/img/a-page/up.svg" %}></img></a></li>
              </ul>
            </nav>
          </div>
        <div class="about-anime">
            <p>{{ anime.description}}</p><h4>خلاصه</h4>
        </div>
        <div class="download" id="download">
            <div class="season-title-list">
            {% for season in seasons %}
                <div class="season-title" id="season-title-{{ season.number }}" onclick="show_season({{ season.number }})">{{ season.number }}</div>
            {% endfor %}
            </div>
            <div class="lang-box">
                <div id="myBtnContainer">
                        <button class="btn" id="btn-en" onclick="filterSelection('en');"> انگلیسی</button>
                        <button class="btn" id="btn-fa" onclick="filterSelection('fa');"> فارسی</button>
                        <button class="btn" id="btn-all" onclick="filterSelection('all');"> همه</button>
                    <label for="lang-list" class="slang">زبان</label> 
                </div>
            </div>
            <div class="season-list">
            {% for season in seasons %}
                <div class="season" id="{{ season.number }}">
                    <div class="container">
                        <div class="episodes">
                            {% for episode in episodes %}
                            {% if episode.season.number == season.number %}
                                {% for media in medias %}
                                    {% if media.episode.pk == episode.pk %}
                                    <a  class="filterDiv fa" href="{% url 'home'%}anime/{{ anime.title }}/{{ season.number }}/{{ episode.number }}/fa"> 
                                        <span>فارسی </span> | قسمت {{ episode.number }}
                                    </a>
                                    <a  class="filterDiv en" href="{% url 'home'%}anime/{{ anime.title }}/{{ season.number }}/{{ episode.number }}/fa"> 
                                        <span>انگلیسی </span>| قسمت {{ episode.number }}
                                    </a>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
            <div class="posts-box" id ="posts">
                <h4>Related Posts</h4>
                <div class="posts">
                    {% for post in posts %}
                        <a class="post" href={% url "weblog_page" anime_name=anime.title title=post.title %}>
                            <img class="post-image" src="/../media/{{ post.title_img }}">
                            <h4>{{ post.title }} </h4>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}