{% extends "deafult.html" %}
{% load static %}
{% block meta %}
    <link rel="stylesheet" href={% static 'style/home.css' %}>
{% endblock meta %}
{% block content %}
    <div class="banner" style="background-image: url('/media/{{ lasted_banner.img }}');"><a href='{% url "detail" name=lasted_banner.anime %}' class="button_banner">بخوانید</a></div>
    {% for item in  cat_shows %}
    <section>
        <h4 class="category-title">{{ item.title }}</h4><a class="see" href="{% url 'categury' cat=item.address %}">مشاهده همه</a>
        <div class="category">
            {% for a in item.data %}
            <a href={% url "detail" name=a %}>
                <div class="card" style="background-image: linear-gradient(to bottom,rgba(151, 150, 148, 0.1),rgba(0, 0, 0, 0.8)),url('/media/{{ a.title_img }}')">
                    <div class="anime-name">{{ a }}</div>
                    <div class="description_card">
                        <div class="tags">
                        {% for tag in tags %}
                            {% if tag.anime_id.pk == a.pk %}
                                <div class="tag">{{ tag.tags }}</div>
                            {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </section>
    {% endfor %}
{% endblock content %}