{% extends "deafult.html" %}
{% load static %}
{% block content %}
    <div style="height: 5vw;"></div>
    <a href='{% url "home" %}{{ lasted_banner.anime }}'><div class="banner" style="background-image: url('media/{{ lasted_banner.img }}');"></div></a>
    <section>
        <h4 class="category-title">جدید ها</h4><a class="see" href="/page/page.html">مشاهده همه</a>
        <div class="category">
            {% for a1 in lasted_animes %}
            <a href="{% url 'home'%}{{ a1 }}">
                <div class="card" style="background-image: linear-gradient(to bottom,rgba(151, 150, 148, 0.1),rgba(0, 0, 0, 0.8)),url('media/{{ a1.title_img }}')">
                    <div class="anime-name">{{ a1 }}</div>
                    <div class="description_card">
                        <div class="tags">
                        {% for tag in tags %}
                            {% if tag.anime_id.pk == a1.pk %}
                                <div class="tag">{{ tag.tags }}</div>
                            {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </section>
    <section>
        <h4 class="category-title"> محبوب ها</h4><a class="see" href="#best">مشاهده همه</a>
        <div class="category">
            {% for a2 in click_animes %}
            <a href="{% url 'home'%}{{ a2 }}">
                <div class="card" style="background-image: linear-gradient(to bottom,rgba(151, 150, 148, 0.1),rgba(0, 0, 0, 0.8)),url('media/{{ a2.title_img }}');">
                    <div class="anime-name">{{ a2 }}</div>
                    <div class="description_card">
                        <div class="tags">
                        {% for tag in tags %}
                            {% if tag.anime_id.pk == a2.pk %}
                                <div class="tag">{{ tag.tags }}</div>
                            {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </section>
    <section>
        <h4 class="category-title">بهترین ها</h4><a class="see" href="#new">مشاهده همه</a>
        <div class="category">
            {% for a3 in imdb_animes %}
            <a href="{% url 'home'%}{{ a3 }}">
                <div class="card" style="background-image: linear-gradient(to bottom,rgba(151, 150, 148, 0.1),rgba(0, 0, 0, 0.8)),url('media/{{ a3.title_img }}')">
                    <div class="anime-name">{{ a3 }}</div>
                    <div class="description_card">
                        <div class="tags">
                        {% for tag in tags %}
                            {% if tag.anime_id.pk == a3.pk %}
                                <div class="tag">{{ tag.tags }}</div>
                            {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </section>
{% endblock content %}