{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>لونیکا | پنل ادمینی</title>
    <link rel="stylesheet" href="{% static 'style2.css' %}">
</head>
<body>
    <form enctype="multipart/form-data" class="anime" action="" method="POST" id="anime_form" novalidate>{% csrf_token %}{{ anime_form.as_div }}<input type="submit" class="submit"></form>
    <div class="season"></div>
    <div class="episode"></div>
</body>
</html>